{% extends 'base.html'%} {% block content %}
{% for recipe in recipes %}
  <div class="col s12 m7">
    <div class="card horizontal">
      <div class="image_src">
       <img src="{{recipe.image_src}}" alt="Picture of {{recipe.name}}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
                    <h5 class="header"><strong>{{recipe.recipe_name}}</strong></h5>
                    <p> {{recipe.recipe_description}} </p>
                           
        <div class="card-action">
          <a href="{{url_for('full_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">full Recipe</a>
        </div>
      </div>
    </div>
  </div>
  </div>


        {% endfor %}
   {% endblock %}
