{% extends 'base.html'%} {% block content %}

<div class="row">
<div class="col s12 center">
      {% for recipe in recipes %}
      <div class="card">
        <div class="card-content">
        <span class="card-title">{{recipe.recipe_name}}</span>
        <div class="card-image recipe-image left-align">
          <img src="{{recipe.image_src}}">
          </div>
         
          <p>{{recipe.recipe_description}}</p>
          <p>{{recipe.recipe_ingredient}}</p>
          <p>{{recipe.recipe_direction}}</p>
        </div>
        <div class="card-action">
              <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
               <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn btn_small">Done</a>
        </div>
         {% endfor %} 
      </div>
    </div>
    </div>


{% endblock %}
